@import "../../variables.scss";

.nav {
  height: 12vh;
  width: 100%;
  background-color: $dark-gray;
  color: $light-color;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid $light-color;
  position: fixed;
  z-index: 2;

  .leftSide {
    display: flex;
    width: 20vw;
    justify-content: center;
    align-items: center;

    .title {
      margin-left: $basic-margin;

      h1 {
        font-size: $font-header-size * 1.5;
      }
      p {
        font-size: $font-paragraph-size;
      }
    }

    img {
      width: auto;
      height: 9vh;
    }
  }
  .rightSide {
    display: flex;
    width: 20vw;
    justify-content: center;
    align-items: center;

    & *:first-child {
      margin-right: $basic-margin * 3;
    }

    a {
      color: $light-color;
      text-decoration: none;
      font-size: $font-header-size * 1.2;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
