@import "../../variables.scss";

.cardFront {
  @extend %card;
  padding: $basic-padding;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;

  h1 {
    font-size: $font-header-size;
    color: $light-color;
    margin: $basic-margin * 2 0;
  }

  h2 {
    font-size: $font-header-size * 0.8;
    color: $dark-gray;
    margin-bottom: $basic-margin * 2;
  }

  img {
    height: 100%;
    // margin-top: $basic-margin * 4;
    width: auto;
  }

  .bottomText {
    width: 17vw;
    display: flex;
    justify-content: space-evenly;
    margin: $basic-margin * 2 auto;
    font-size: $font-paragraph-size * 0.7;

    & *:first-child {
      width: 100px;
      border: 2px solid $light-color;
      border-radius: $border-rounding * 2;
      padding: $basic-padding * 0.4;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & *:nth-child(2) {
      padding: $basic-padding * 0.5;
      width: 100px;
    }
  }
}
